$title-color: #2f281e;
$text-color: #544837;
$link-color: #2f281e;
$additional-color: #ff9900;
$light-color: #ffffff;
$dark-color: #000000;
$hover-color: #173A56;

$small-desktop: 1200px;
$content-width: 1126px;
$tablet-width: 1000px;
$mobile-large-width: 640px;
$mobile-small-width: 320px;
