@mixin font($size, $height: $size, $weight: normal, $style: normal) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
}

$breakpoints: (
  "small-desktop": $screen-small-desktop,
  "tablet": $screen-tablet-width,
  "mobile-large": $screen-mobile-large-width,
  "mobile-small": $screen-mobile-small-width,
);

@mixin screen($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` not found";
  }
}
