body {
  font-family: 'Poppins', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.6rem;
}

h1 {
  font-size: 4.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 5.4rem;
  color: #2f281e;
}

h2 {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: bold;
  line-height: 5.4rem;
  color: #2f281e;
}

h3 {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.3rem;
  color: #2f281e;
}

h4 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.6rem;
  color: #2f281e;
}

p {
  color: #544837;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.ico {
  cursor: pointer;
  display: inline-block;
}

.triangle-ico {
  position: absolute;
  top: calc(50% - 10px);
  left: 12px;
  width: 20px;
  height: 17px;
  background: url(./../../assets/icons/triangle.svg) center center no-repeat;
}

.tool__ico {
  margin-top: 54px;
  width: 50px;
  height: 50px;
}

.ico-cursor {
  background: url(./../../assets/icons/cursor.svg) center center no-repeat;
}

.ico-surveys {
  background: url(./../../assets/icons/surveys.svg) center center no-repeat;
}

.ico-heard {
  background: url(./../../assets/icons/heard.svg) center center no-repeat;
}

.ico-clock {
  background: url(./../../assets/icons/clock.svg) center center no-repeat;
}

.button {
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #ff9900;
  color: #ffffff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
  border: none;
  cursor: pointer;
}

.layout-4-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.layout-4-column > * {
  flex-basis: 21%;
}

.wrapper {
  max-width: 1126px;
  margin: 0 auto;
}

.header {
  padding: 44px 0 17px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
}

.navigation__item:nth-child(1n + 2) {
  margin-left: 30px;
}

.navigation__link {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.8rem;
  color: #2f281e;
}

.header__buttons {
  margin-left: 50px;
}

.header__button {
  padding: 11px 25px;
  font-weight: 600;
}

.header__button:nth-child(2) {
  margin-left: 14px;
}

.header__button_transparent {
  background-color: #ffffff;
  border: 1px solid #BCD0E5;
  color: #173A56;
}

.logo__link {
  display: inline-block;
  width: 187px;
  height: 32px;
}

.logo__ico {
  width: 100%;
  height: 100%;
  background: url(../../assets/icons/logo.svg) center center;
}

.superpowers {
  padding: 60px 0;
}

.superpowers__wrapper {
  display: flex;
  justify-content: space-between;
}

.superpowers__title {
  margin-top: 83px;
  max-width: 518px;
}

.superpowers__text {
  margin-top: 30px;
  max-width: 458px;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.8rem;
}

.superpowers__buttons {
  margin-top: 45px;
}

.superpowers__button {
  font-weight: bold;
  padding: 15px 41px;
}

.superpowers__button_transparent {
  position: relative;
  background-color: #ffffff;
  color: #ff9900;
  font-weight: 600;
  text-decoration: underline;
}

.superpowers__img {
  width: 605px;
  height: 496px;
}

.tools {
  padding: 60px 0 90px;
  background: url(./../../assets/img/tools/background.svg) center bottom no-repeat;
}

.tools__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tools__title {
  max-width: 539px;
  text-align: center;
}

.tool__title {
  margin-top: 30px;
}

.tool__text {
  margin-top: 13px;
}

.tools__button {
  margin-top: 34px;
  padding: 15px 34px;
  font-weight: 700;
}

.professionals {
  padding: 120px 0 50px;
}

.professionals__wrapper {
  display: flex;
  justify-content: space-between;
}

.professionals__title {
  margin-top: 3px;
}

.professionals__subtitle {
  margin-top: 30px;
}

.professionals__text {
  max-width: 486px;
}

.professionals__text:nth-child(1) {
  margin-top: 26px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.6rem;
  color: #544837;
}

.professionals__text {
  margin-top: 22px;
}

.professionals__item {
  margin-top: 12px;
}

.product-managers {
  padding: 50px 0 50px;
}

.product-managers__wrapper {
  display: flex;
  justify-content: space-between;
}
/*# sourceMappingURL=main.css.map */