body {
  font-family: 'Poppins', sans-serif;
}

h6, .article__info {
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

@media (max-width: 640px) {
  html {
    font-size: 8px;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 7px;
  }
}

body {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.6rem;
}

h1 {
  font-size: 4.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 5.4rem;
  color: #2f281e;
}

h2 {
  font-size: 3.6rem;
  font-style: normal;
  font-weight: bold;
  line-height: 5.4rem;
  color: #2f281e;
}

h3 {
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.3rem;
  color: #2f281e;
}

h4 {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.6rem;
  color: #2f281e;
}

h5 {
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.4rem;
  color: #2f281e;
}

h6 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  color: #2f281e;
}

p {
  color: #544837;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.bold {
  font-weight: 700;
}

.ico {
  cursor: pointer;
  display: inline-block;
}

.triangle-ico {
  position: absolute;
  top: calc(50% - 10px);
  left: 12px;
  width: 20px;
  height: 17px;
  background: url(./../../assets/icons/triangle.svg) center center no-repeat;
}

.tool__ico {
  margin-top: 54px;
  width: 50px;
  height: 50px;
}

.ico-cursor {
  background: url(./../../assets/icons/cursor.svg) center center no-repeat;
}

.ico-surveys {
  background: url(./../../assets/icons/surveys.svg) center center no-repeat;
}

.ico-heard {
  background: url(./../../assets/icons/heard.svg) center center no-repeat;
}

.ico-clock {
  background: url(./../../assets/icons/clock.svg) center center no-repeat;
}

.ico-check {
  position: absolute;
  left: 0;
  top: calc(50% - 17.5px);
  width: 35px;
  height: 35px;
  background: url(./../../assets/icons/check.svg) center center no-repeat;
}

.button {
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #ff9900;
  color: #ffffff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.4rem;
  border: none;
  cursor: pointer;
}

.layout-4-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.layout-4-column > * {
  flex-basis: 21%;
}

@media (max-width: 1000px) {
  .layout-4-column > * {
    flex-basis: 45%;
  }
}

@media (max-width: 640px) {
  .layout-4-column {
    justify-content: center;
  }
  .layout-4-column > * {
    flex-basis: 90%;
  }
}

.layout-3-column {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.layout-3-column > * {
  flex-basis: 30%;
}

@media (max-width: 1000px) {
  .layout-3-column {
    justify-content: center;
  }
  .layout-3-column > * {
    flex-basis: 55%;
  }
}

.wrapper {
  max-width: 1126px;
  margin: 0 auto;
}

.header {
  padding: 44px 0 17px;
}

@media (max-width: 1200px) {
  .header {
    padding: 44px 20px 17px;
  }
}

@media (max-width: 320px) {
  .header {
    padding: 44px 10px 17px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__container {
  display: flex;
  align-items: center;
}

@media (max-width: 1000px) {
  .header__container {
    display: none;
  }
}

.navigation__list {
  display: flex;
}

.navigation__item:nth-child(1n + 2) {
  margin-left: 30px;
}

.navigation__link {
  font-size: 1.4rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.8rem;
  color: #2f281e;
}

.header__buttons {
  margin-left: 50px;
}

.header__button {
  padding: 11px 25px;
  font-weight: 600;
}

.header__button:nth-child(2) {
  margin-left: 14px;
}

.header__button_transparent {
  background-color: #ffffff;
  border: 1px solid #BCD0E5;
  color: #173A56;
}

.hamburger {
  display: none;
}

@media (max-width: 1000px) {
  .hamburger {
    display: inline-block;
  }
}

.hamburger__list {
  cursor: pointer;
}

.hamburger__item {
  margin-top: 8px;
  width: 30px;
  height: 4px;
  background-color: #000000;
}

.hamburger__item:nth-child(1) {
  margin-top: 0;
}

.footer {
  padding: 102px 0 95px;
}

@media (max-width: 1200px) {
  .footer {
    padding: 102px 20px 95px;
  }
}

@media (max-width: 320px) {
  .footer {
    padding: 50px 10px 45px;
  }
}

.footer__title {
  max-width: 280px;
}

@media (max-width: 1000px) {
  .footer__title {
    margin-top: 20px;
  }
}

.footer__list {
  margin-top: 35px;
}

.footer__item:nth-child(1n + 2) {
  margin-top: 10px;
}

.footer__link {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.5rem;
  color: #544837;
}

.footer__input {
  width: 325px;
  margin-top: 34px;
  padding: 10px 15px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
}

@media (max-width: 640px) {
  .footer__input {
    max-width: 280px;
  }
}

.footer__input::placeholder {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.8rem;
  color: #bcd0e5;
}

.footer__button {
  font-weight: bold;
  margin-top: 21px;
  padding: 8px 15px;
}

.logo__link {
  display: inline-block;
  width: 187px;
  height: 32px;
}

.logo__ico {
  width: 100%;
  height: 100%;
  background: url(../../assets/icons/logo.svg) center center;
}

.superpowers {
  padding: 60px 0;
}

@media (max-width: 1200px) {
  .superpowers {
    padding: 60px 20px;
  }
}

@media (max-width: 320px) {
  .superpowers {
    padding: 30px 10px;
  }
}

.superpowers__wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .superpowers__wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.superpowers__title {
  margin-top: 83px;
  max-width: 518px;
}

@media (max-width: 1000px) {
  .superpowers__title {
    margin-top: 23px;
  }
}

.superpowers__text {
  margin-top: 30px;
  max-width: 458px;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: normal;
  line-height: 2.8rem;
}

.superpowers__buttons {
  margin-top: 45px;
}

.superpowers__button {
  font-weight: bold;
  padding: 15px 41px;
}

.superpowers__link {
  display: inline-block;
  font-weight: bold;
  padding: 15px 41px;
  position: relative;
  background-color: #ffffff;
  color: #ff9900;
  font-weight: 600;
  text-decoration: underline;
}

.superpowers__img {
  max-width: 605px;
  max-height: 496px;
}

@media (max-width: 1000px) {
  .superpowers__img {
    margin-top: 40px;
    max-height: 300px;
  }
}

@media (max-width: 640px) {
  .superpowers__img {
    display: none;
  }
}

.tools {
  padding: 60px 0 90px;
  background: url(./../../assets/img/tools/background.svg) center bottom no-repeat;
}

@media (max-width: 1200px) {
  .tools {
    padding: 60px 20px 90px;
  }
}

@media (max-width: 320px) {
  .tools {
    padding: 30px 10px 45px;
  }
}

.tools__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tools__title {
  max-width: 539px;
  text-align: center;
}

@media (max-width: 640px) {
  .tool {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.tool__title {
  margin-top: 30px;
}

.tool__text {
  margin-top: 13px;
}

.tools__button {
  margin-top: 34px;
  padding: 15px 34px;
  font-weight: 700;
}

.professionals {
  padding: 120px 0 50px;
}

@media (max-width: 1200px) {
  .professionals {
    padding: 120px 20px 50px;
  }
}

@media (max-width: 320px) {
  .professionals {
    padding: 50px 10px 25px;
  }
}

.professionals__wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .professionals__wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.professionals__title {
  margin-top: 3px;
}

.professionals__subtitle {
  margin-top: 30px;
}

.professionals__container {
  margin-top: 26px;
}

.professionals__text:nth-child(1) {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.6rem;
  color: #544837;
}

.professionals__text {
  max-width: 486px;
  margin-top: 22px;
}

.professionals__item {
  margin-top: 12px;
  max-width: 486px;
}

.professionals__img {
  max-width: 520px;
  max-height: 573px;
}

@media (max-width: 1000px) {
  .professionals__img {
    margin-top: 30px;
    max-height: 300px;
  }
}

.product-managers {
  padding: 50px 0 50px;
}

@media (max-width: 1200px) {
  .product-managers {
    padding: 50px 20px 50px;
  }
}

@media (max-width: 320px) {
  .product-managers {
    padding: 25px 10px 25px;
  }
}

.product-managers__wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .product-managers__wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.product-managers__container {
  margin-top: 50px;
}

.product-managers__text:nth-child(1) {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.6rem;
  color: #544837;
}

.product-managers__text {
  margin-top: 22px;
  max-width: 486px;
}

.product-managers__item {
  position: relative;
  margin-top: 30px;
  padding-left: 65px;
  max-width: 365px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.6rem;
  color: #544837;
}

@media (max-width: 1000px) {
  .product-managers__img {
    margin-top: 40px;
    max-height: 300px;
  }
}

@media (max-width: 640px) {
  .product-managers__img {
    max-height: 280px;
  }
}

.marketers {
  padding: 50px 0 50px;
}

@media (max-width: 1200px) {
  .marketers {
    padding: 50px 20px 50px;
  }
}

@media (max-width: 320px) {
  .marketers {
    padding: 25px 10px 25px;
  }
}

.marketers__wrapper {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1000px) {
  .marketers__wrapper {
    flex-direction: column;
    align-items: center;
  }
}

.marketers__title {
  margin-top: 3px;
}

.marketers__subtitle {
  margin-top: 30px;
}

.marketers__container {
  margin-top: 26px;
}

.marketers__text:nth-child(1) {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.6rem;
  color: #544837;
}

.marketers__text {
  max-width: 486px;
  margin-top: 22px;
}

.marketers__item {
  margin-top: 12px;
  max-width: 486px;
}

@media (max-width: 1000px) {
  .marketers__img {
    margin-top: 40px;
    max-height: 300px;
  }
}

.strategies {
  padding: 50px 0 120px;
  border-bottom: 1px solid #bcd0e57f;
}

@media (max-width: 1200px) {
  .strategies {
    padding: 50px 20px 120px;
  }
}

@media (max-width: 320px) {
  .strategies {
    padding: 25px 10px 50px;
  }
}

.strategies__text {
  margin-top: 9px;
}

.article__image {
  margin-top: 55px;
}

@media (max-width: 640px) {
  .article__image {
    max-width: 300px;
  }
}

.article__info {
  display: inline-block;
  margin-top: 25px;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem;
  color: #544837;
}

.article__title {
  margin-top: 12px;
  width: 294px;
}

.article__link {
  cursor: pointer;
  color: #544837;
}

.article__link:hover {
  color: #ff9900;
  transition: all 0.3s ease-in-out;
}

.strategies__list {
  display: flex;
  justify-content: center;
  margin-top: 45px;
}

.strategies__item:nth-child(1n + 2) {
  margin-left: 10px;
}

.strategies__item {
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-color: #EFEFEF;
  border-radius: 50%;
}

.strategies__item_active {
  background-color: #ff9900;
}
/*# sourceMappingURL=main.css.map */