.layout-4-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

    > div, article {
        max-width: 25%;
    }
}

.layout-3-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    > div, article {
        max-width: 33%;
    }
}
