.layout-4-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    >* {
        flex-basis: 22%;
    }
    @include media-tablet {
        justify-content: space-around;
        >* {
            flex-basis: 40%;
        }
    }
    @include media-mobile-big {
        justify-content: center;
        >* {
            flex-basis: 90%;
        }
    }
}

.layout-3-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    >* {
        flex-basis: 32%;
    }
    @include media-tablet {
        justify-content: center;
        >* {
            flex-basis: 55%;
        }
    }
}