.layout-4-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    > .tool {
        flex-basis: 22%;
    }
    @include media-tablet {
        justify-content: space-around;
        > .tool {
            flex-basis: 40%;
        }
    }
    @include media-mobile-large {
        justify-content: center;
        > .tool {
            flex-basis: 90%;
        }
    }
}

.layout-3-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    >.article {
        flex-basis: 31%;
    }
    @include media-tablet {
        justify-content: center;
        >.article {
            flex-basis: 55%;
        }
    }
}