.footer {
  padding: 102px 0 95px;

  @include screen("small-desktop") {
    padding: 85px 20px 95px;
  }

  @include screen("tablet") {
    padding: 50px 10px 45px;
  }

  @include screen("mobile-large") {
    padding: 40px 10px 45px;
  }

  &__wrapper {
    display: flex;
    padding: 0px 8px;

    @include screen("tablet") {
      flex-direction: column;
      padding: 0;
    }
  }

  &__layout {
    display: flex;
    flex-wrap: wrap;

    @include screen("mobile-large") {
      flex-direction: column;
    }
  }

  &__logo {
    @include screen("tablet") {
      text-align: center;
    }
  }

  &__container {
    flex: 1;

    @include screen("small-desktop") {
      margin-top: 15px;
    }

    @include screen("mobile-large") {
      align-items: center;
    }

    &:first-child {
      margin-left: 140px;

      @include screen("small-desktop") {
        margin-top: 15px;
        margin-left: 55px;
      }

      @include screen("tablet") {
        text-align: center;
        margin-left: 0;
      }
    }

    &:nth-child(2) {
      margin-left: 67px;

      @include screen("small-desktop") {
        margin-left: 45px;
      }

      @include screen("tablet") {
        text-align: center;
        margin-left: 0;
      }
    }

    &:nth-child(3) {
      margin-left: 21px;

      @include screen("tablet") {
        flex-basis: 100%;
      }

      @include screen("tablet") {
        text-align: center;
        margin-left: 0;
      }
    }
  }

  &__title {
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 260px;
    @extend %additional-font;

    @include screen("tablet") {
      min-width: 100%;
      margin-top: 20px;
      padding: 0 50px;
      @include font($size: 2.6rem, $height: 3.6rem, $weight: 700);
    }

    @include screen("mobile-large") {
      padding: 0 15px;
    }
  }

  &__list {
    padding: 0;
    margin-top: 35px;

    @include screen("tablet") {
      margin-top: 20px;
    }

    @include screen("mobile-large") {
      margin-top: 15px;
    }
  }

  &__item {
    @include screen("tablet") {
      margin-top: 10px;
    }
  }

  &__link {
    @include font($size: 1.6rem, $height: 3.5rem, $weight: 400);
    color: $text-color;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $link-hover-color;
    }

    @include screen("tablet") {
      @include font($size: 2.2rem, $height: 3.4rem, $weight: 400);
    }
  }

  &__form {
    @include screen("tablet") {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__input {
    width: 325px;
    margin-top: 34px;
    padding: 12px 15px;
    border: 1px solid $border-color;
    border-radius: 4px;

    @include screen("tablet") {
      max-width: 500px;
      width: 500px;
      padding: 20px 15px;
      @include font($size: 2.6rem, $height: 3.6rem, $weight: 500);
    }

    @include screen("mobile-large") {
      max-width: 450px;
      width: 100%;
      padding: 20px 15px;
    }

    &::placeholder {
      @include font($size: 1.6rem, $height: 2.8rem, $weight: 600);
      color: $border-color;

      @include screen("tablet") {
        @include font($size: 2.0rem, $height: 3.2rem, $weight: 600);
      }
    }
  }

  &__button {
    margin-top: 16px;
    padding: 8px 15px;

    @include screen("tablet") {
      @include font($size: 2.0rem, $height: 3.2rem, $weight: 700);
      padding: 16px 36px;
    }
  }
}
