.footer {
    padding: 85px 0 95px;
    @include media-small-desktop {
        padding: 85px 20px 95px;
    }
    @include media-mobile-small {
        padding: 50px 10px 45px;
    }
}

.footer__wrapper {
    display: flex;
    @include media-tablet {
        flex-direction: column;
    }
}

.footer__layout {
    display: flex;
    flex-wrap: wrap;
    @include media-mobile-big {
        flex-direction: column;
    }
}

.footer__container {
    flex: 1;
    @include media-mobile-big {
        align-items: center;
    }
}

.footer__container:nth-child(1) {
    margin-left: 140px;
    @include media-mobile-big {
        margin-left: 0;
    }
}

.footer__container:nth-child(2) {
    margin-left: 67px;
    @include media-mobile-big {
        margin-left: 0;
    }
}

.footer__container:nth-child(3) {
    margin-left: 21px;
    @include media-tablet {
        flex-basis: 100%;
    }
    @include media-mobile-big {
        margin-left: 0;
    }
}

.footer__title {
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 280px;
    @extend %additional-font;
    @include media-tablet {
        margin-top: 20px;
    }
}

.footer__list {
    padding: 0;
    margin-top: 35px;
}

.footer__link {
    @include font($size: 1.6rem, $height: 3.5rem, $weight: 400);
    color: $text-color;
    transition: all 0.3s ease-in-out;
}

.footer__link:hover {
    color: $additional-color;
}

.footer__input {
    width: 325px;
    margin-top: 34px;
    padding: 10px 15px;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    @include media-mobile-big {
        max-width: 280px;
    }
}

.footer__input::placeholder {
    @include font($size: 1.6rem, $height: 2.8rem, $weight: 600);
    color: #bcd0e5;
}

.footer__button {
    font-weight: bold;
    margin-top: 26px;
    padding: 8px 15px;
    transition: all 0.3s ease-in-out;
}

.footer__button:hover {
    background-color: $hover-color;
}
