.header {
  padding: 50px 0 10px;

  @include screen("small-desktop") {
    padding: 44px 20px 17px;
  }

  @include screen("mobile-small") {
    padding: 44px 10px 17px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px 0 2px;

    @include screen("tablet") {
      padding: 0;
      justify-content: space-around;
    }

    @include screen("mobile-large") {
      justify-content: space-between;
    }
  }

  &__container {
    display: flex;
    align-items: center;

    @include screen("tablet") {
      display: none;
    }
  }

  &__buttons {
    margin-left: 50px;
  }

  &__button {

    &:nth-child(2) {
      margin-left: 8px;
    }
  }
}

.navigation {
  &__list {
    display: flex;
  }

  &__item {
    &:nth-child(1n + 2) {
      margin-left: 28px;
    }
  }

  &__link {
    @include font($size: 1.4rem, $height: 2.8rem);
    color: $link-color;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $link-hover-color;
    }
  }
}

.hamburger {
  display: none;

  @include screen("tablet") {
    display: inline-block;
  }

  &__list {
    cursor: pointer;
  }

  &__item {
    margin-top: 8px;
    width: 30px;
    height: 4px;
    background-color: $dark-color;

    &:first-child {
      margin-top: 0;
    }
  }
}
