.marketers {
  padding: 39px 0 50px;
  @include media-small-desktop {
    padding: 50px 20px 50px;
  }
  @include media-mobile-small {
    padding: 25px 10px 25px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0px 6px;
    @include media-tablet {
      flex-direction: column;
      align-items: center;
    }
  }

  &__title {
    margin-top: 3px;
    margin-bottom: 0;
  }

  &__subtitle {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  &__container {
    margin-top: 26px;
  }

  &__text:first-child {
    display: inline-block;
    margin-top: 28px;
    @include font($size: 1.6rem, $height: 2.6rem, $weight: 500);
    color: $text-color;
  }

  &__text {
    max-width: 486px;
    margin-top: 22px;
  }

  &__item {
    margin-top: 10px;
    max-width: 486px;
  }

  &__img {
    max-width: 542px;
    max-height: 609px;
    margin-top: 15px;
    @include media-small-desktop {
      max-height: 500px;
    }
    @include media-tablet {
      margin-top: 40px;
      max-height: 300px;
    }
  }
}
