.marketers {
    padding: 50px 0 50px;
}

.marketers__wrapper {
    display: flex;
    justify-content: space-between;
}

.marketers__title {
    margin-top: 3px;
}

.marketers__subtitle {
    margin-top: 30px;
}

.marketers__container {
    margin-top: 26px;
}

.marketers__text:nth-child(1) {
    @include font($size: 1.6rem, $height: 2.6rem, $weight: 500);
    color: $text-color;
}

.marketers__text {
    max-width: 486px;
    margin-top: 22px;
}

.marketers__item {
    margin-top: 12px;
    max-width: 486px;
}
