.product-managers {
  padding: 50px 0 50px;

  @include screen("small-desktop") {
    padding: 50px 20px 50px;
  }

  @include screen("mobile-small") {
    padding: 25px 10px 25px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0;

    @include screen("tablet") {
      flex-direction: column-reverse;
      align-items: center;
    }

  }

  &__container {
    margin-top: 50px;
    max-width: 486px;
  }
  
  &__text {
    margin-top: 22px;
    max-width: 486px;

    &:first-child {
      @include font($size: 1.6rem, $height: 2.6rem, $weight: 500);
      color: $text-color;
    }
  }

  &__title {
    margin-top: 4px;
    margin-bottom: 0px;
    max-width: 486px;
  }

  &__list {
    padding-left: 65px;
  }

  &__item {
    position: relative;
    margin-top: 30px;
    max-width: 385px;
    @include font($size: 1.6rem, $height: 2.6rem, $weight: 500);
    color: $text-color;

    &:first-child {
      max-width: 365px;
    }
  }

  &__img {
    max-width: 532px;
    max-height: 520px;

    @include screen("small-desktop") {
      max-height: 450px;
    }

    @include screen("tablet") {
      margin-top: 40px;
      max-height: 300px;
    }

    @include screen("mobile-large") {
      max-height: 280px;
    }
  }
}
