.product-managers {
  padding: 50px 0 4px;

  @include screen("small-desktop") {
    padding: 30px 20px 30px;
  }

  @include screen("tablet") {
    padding: 25px 20px 25px;
  }

  @include screen("mobile-small") {
    padding: 25px 10px 25px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0;

    @include screen("mobile-large") {
      flex-direction: column-reverse;
      align-items: center;
    }

  }

  &__container {
    margin-top: 50px;
    max-width: 486px;

    @include screen("small-desktop") {
      margin-top: 10px;
    }

    @include screen("tablet") {
      min-width: 425px;
    }

    @include screen("mobile-large") {
      min-width: 100%;
      margin-top: 10px;
    }
  }
  
  &__text {
    margin-top: 22px;
    max-width: 486px;

    &:first-child {
      @include font($size: 1.6rem, $height: 2.6rem, $weight: 500);
      color: $text-color;
    }
  }

  &__title {
    margin-top: 4px;
    margin-bottom: 0px;
    max-width: 486px;
  }

  &__image-container {
    display: flex;
    max-width: 532px;

    @include screen("small-desktop") {
      max-width: 400px;
    }

    @include screen("tablet") {
      margin-top: 40px;
      margin-right: 20px;
      max-width: 300px;
    }

    @include screen("mobile-large") {
      margin-top: 15px;
      max-width: 180px;
      margin-right: 0px;
    }
  }

  &__img {
    width: 100%;
  }
}
