.product-managers {
    padding: 50px 0 50px;
    @include media-small-desktop {
        padding: 50px 20px 50px;
    }
}

.product-managers__wrapper {
    display: flex;
    justify-content: space-between;
    @include media-tablet {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.product-managers__container {
    margin-top: 50px;
}

.product-managers__text:nth-child(1) {
    @include font($size: 1.6rem, $height: 2.6rem, $weight: 500);
    color: $text-color;
}

.product-managers__text {
    margin-top: 22px;
    max-width: 486px;
}

.product-managers__item {
    position: relative;
    margin-top: 30px;
    padding-left: 65px;
    max-width: 365px;
    @include font($size: 1.6rem, $height: 2.6rem, $weight: 500);
    color: $text-color;
}

.product-managers__img {
    @include media-tablet {
        margin-top: 40px;
        max-height: 300px;
    }
}