.section {
  padding: 120px 0 50px;

  @include screen("small-desktop") {
    padding: 30px 20px 30px;
  }

  @include screen("tablet") {
    padding: 25px 20px 25px;
  }

  @include screen("mobile-large") {
    padding: 25px 10px 25px;
    border-bottom: 1px solid $border-opacity-color;
  }

  @include screen("mobile-small") {
    padding: 15px 10px 15px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 16px 0 0;

    @include screen("mobile-large") {
      flex-direction: column;
      align-items: center;
      padding: 0;
    }
  }

  &__title {
    margin-top: 3px;
    margin-bottom: 0;
  }

  &__subtitle {
    margin-top: 28px;
    margin-bottom: 0;

    @include screen("mobile-large") {
      min-width: 100%;
      @include font($size: 1.8rem, $height: 2.8rem, $weight: 700);
    }
  }

  &__container {
    margin-top: 23px;

    @include screen("tablet") {
      min-width: 425px;
    }

    @include screen("mobile-large") {
      min-width: 100%;
    }
  }

  &__text {
    max-width: 486px;
    margin-top: 22px;

    &:first-child {
      @include font($size: 1.6rem, $height: 2.6rem, $weight: 500);
      color: $text-color;
    }

    @include screen("mobile-large") {
      min-width: 100%;
      @include font($size: 1.6rem, $height: 2.6rem, $weight: 500);
    }
  }

  &__item {
    margin-top: 12px;
    max-width: 486px;

    @include screen("mobile-large") {
      min-width: 100%;
      @include font($size: 1.6rem, $height: 2.6rem, $weight: 500);
    }
  }

  &__image-container {
    display: flex;
    max-width: 520px;

    @include screen("small-desktop") {
      max-width: 400px;
    }

    @include screen("tablet") {
      margin-top: 30px;
      margin-left: 10px;
      max-width: 300px;
    }

    @include screen("mobile-large") {
      display: none;
    }
  }

  &__img {
    width: 100%;
  }
}
