.strategies {
  padding: 50px 0 106px;
  border-bottom: 1px solid $border-opacity-color;

  @include screen("small-desktop") {
    padding: 50px 20px 120px;
  }

  @include screen("mobile-small") {
    padding: 25px 10px 50px;
  }

  &__wrapper {
    padding: 0 10px;
  }

  &__title {
    margin-top: 32px;
    margin-bottom: 0;
    @include font($size: 3.4rem, $height: 5.1rem, $weight: bold);
  }

  &__text {
    margin-top: 9px;
  }

  &__list {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 10px;
  }

  &__item {
    cursor: pointer;
    width: 16px;
    height: 16px;
    background-color: $gray-color;
    border-radius: 50%;

    &:nth-child(1n + 2) {
      margin-left: 10px;
    }

    &.active {
      background-color: $primary-color;
    }
  }
}

.article {

  &__image {
    margin-top: 40px;

    @include screen("mobile-large") {
      max-width: 300px;
    }

  }

  &__info {
    display: inline-block;
    margin-top: 19px;
    @include font($size: 1.6rem, $height: 2.8rem, $weight: 400);
    color: $text-color;
  }

  &__title {
    margin-top: 12px;
    width: 294px;
  }

  &__link {
    cursor: pointer;
    color: $text-color;

    &:hover {
      color: $primary-color;
      transition: all 0.3s ease-in-out;
    }
  }
}
