.tools {
  padding: 48px 0 90px;
  background: url(../assets/img/tools/background.svg) center bottom no-repeat;

  @include screen("small-desktop") {
    padding: 60px 20px 90px;
  }

  @include screen("mobile-small") {
    padding: 30px 10px 45px;
  }

}

.tools__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0 18px;
}

.tools__title {
  max-width: 539px;
  text-align: center;
}

.tool {

  @include screen("mobile-large") {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

.tool__title {
  margin-top: 26px;
  margin-bottom: 0;
}

.tool__text {
  margin-top: 13px;
}

.tools__button {
  margin-top: 18px;
  padding: 15px 34px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;

  &:hover {
    background-color: $button-hover-color;
  }
}
