.tools {
  padding: 48px 0 90px;
  background: url(../assets/img/tools/background.svg) center bottom no-repeat;

  @include screen("small-desktop") {
    padding: 60px 20px 90px;
  }

  @include screen("mobile-large") {
    padding: 25px 10px 25px;
  }

  @include screen("mobile-small") {
    padding: 15px 10px 15px;
  }

  &__wrapper {
    padding: 0px 16px;
    display: flex;
    align-items: center;
    flex-direction: column;

    @include screen("tablet") {
      padding: 0;
    }
  }

  &__title {
    max-width: 539px;
    text-align: center;
  }

  &__button {
    margin-top: 18px;
    padding: 15px 34px;
  }
}

.tool {

  @include screen("tablet") {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50%;
  }

  @include screen("mobile-large") {
    min-width: 100%;
  }

  &__title {
    margin-top: 26px;
    margin-bottom: 0;
  }

  &__text {
    margin-top: 13px;
    max-width: 240px;

    @include screen("tablet") {
      text-align: center;
    }

    @include screen("mobile-large") {
      max-width: 100%;
      @include font($size: 1.8rem, $height: 2.8rem, $weight: 500);
    }
  }
}
