* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    @extend %main-font;
    @include font($size: 1.6rem, $height: 2.6rem, $weight: 500);
}

h1 {
    @include font($size: 4.4rem, $height: 5.4rem, $weight: bold);
    color: $title-color;
}

p {
    color: $text-color;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
