.ico {
    cursor: pointer;
    display: inline-block;
}

.triangle-ico {
    position: absolute;
    top: calc(50% - 10px);
    left: 12px;
    width: 20px;
    height: 17px;
    background: url(./../../assets/icons/triangle.svg) center center no-repeat;
}