.icon {
  cursor: pointer;
  display: inline-block;
}

.triangle-icon {
  position: absolute;
  top: calc(50% - 10px);
  left: 24px;
  width: 20px;
  height: 17px;
  background: url(../assets/icons/triangle.svg) center center no-repeat;
}

.tool__icon {
  margin-top: 22px;
  width: 50px;
  height: 50px;

  @include screen("tablet") {
    margin-top: 35px;
  }
}

$icons-name: "cursor", "surveys", "heard", "clock";

@each $icon-name in $icons-name {
  .icon-#{$icon-name} {
    background: url("../assets/icons/#{$icon-name}.svg") center center no-repeat;
  }
}

.icon-check {
  position: absolute;
  left: -68px;
  top: calc(50% - 17.5px);
  width: 35px;
  height: 35px;
  background: url(../assets/icons/check.svg) center center no-repeat;
}
